asgiref==3.8.1
black==24.10.0
click==8.1.7
colorama==0.4.6
dj-database-url==2.2.0
Django==5.1.2
mypy-extensions==1.0.0
packaging==24.1
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.3.6
python-decouple==3.8
sqlparse==0.5.1
typing_extensions==4.12.2
tzdata==2024.2