{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Descrição do site para SEO.">
    <title>Home PS 24.2</title>
    <link rel="stylesheet" href="{% static '/css/home-Style.css' %}"> 
    <link rel="stylesheet" href= "{% static '/css/navbar.css' %}">
    <link rel="stylesheet" href="{% static '/css/home-Shapes.css' %}"> 
    <link rel="stylesheet" href="{% static '/css/home-button.css' %}"> 
    <link rel="stylesheet" href="{% static '/css/home-carousel.css' %}"> 
    <link rel="stylesheet" href="{% static '/css/home-cards.css' %}">
    <link rel="stylesheet" href="{% static '/css/footer.css' %}">
    {% block styles %}{% endblock styles %}
    <!--Scripts-->
    <script src="{% static 'js/navbar.js' %}" defer></script>
    <link rel="preconnect" href="https:/fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=DM+Serif+Display&family=DM+Sans:wght@400;700&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap" rel="stylesheet">


    <!-- ajeita carrossel  -->

</head>

<body>
    
    <div class="navbar">
        <div class="logo">
            <img src="{% static "img/logo.svg" %}">                
        </div>
        <div class="nav-parent">
            <div class="box">
                <ul class="nav-links">
                    <a href="home.html"><li>home</li></a>
                    <a href="videos.html"><li>vídeos</li></a>
                    <a href="forum.html"><li>fórum</li></a>
                    <a href="{% url 'pais_e_profs:pais_e_profs' %}"><li>pais & profs</li></a>
                </ul>
            </div>
            <div class="selector">
                <img src="{% static "img/selector.svg" %}" alt="seletor">                   
            </div>
        </div>
    </div>
{% block content %}
{% endblock content %}
<div class="footer">
    <img src="{% static 'img/logo.svg' %}" alt="logo" class="logo">
    <div class="direitos">
        <p>
            EJECT © Alguns Direitos Reservados
        </p>
    </div>
     <div class="contato">
        <h2>CONTATO</h2>

        <p>
            +55 21 99999-9999
            contato@sabidinhos.com
        </p>    
        <p>
            Rua ali perto, 2000 - Candelária <br>
            Rio Grande do Norte - RN
        </p>
        <div class="redes-sociais">
            <button>
                <img src="{% static 'img/redes-sociais/instagram.svg' %}" alt="instagram">
            </button>
            <button>
                <img src="{% static 'img/redes-sociais/facebook.svg' %}" alt="facebook">
            </button>
            <button>
                <img src="{% static 'img/redes-sociais/youtube.svg' %}" alt="youtube">
            </button>
        </div>
    </div>

    <div class="informacoes">
        <h2 >INFORMAÇÕES</h2>

        <p>
        <button>Exames Laboratoriais</button> <br>
        <button>Consultas Veterinarias</button> <br>
        <button>Plano PET de sáude</button> <br>
        <button>Quem somos?</button>
        </p>
    </div>
</div>
<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
